/* Custom Styles */

.section {
  background-color: #f8f8f8;
  height: 1000px;
  padding: 20px;
}

.navbar-collapse {
  background-color: #e0e0e0;
}
h2{
    text-align: center;
}
.description{
    background-color: rgb(138, 116, 116);
    padding-left: 10px;
    padding-right: 10px;
}
